@import 'colors';

* {
  font-family: Consolas;
  margin: 0;
  padding: 0;
}

#app-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;

  #left-container {
    width: 300px;
    height: 100vh;
    border-right: 1px solid #dedede;

    #profile-component {
      height: 200px;
      background-color: #dedede;
    }
  }

  #right-container {
    flex-grow: 1;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;

    #input-component {
      height: 100px;
      background-color: #dedede;
    }

    #conversation-component {
      flex-grow: 1;
    }
  }
}