@import 'colors';
@import 'utils';

#input-component {
  height: 200px;
  flex: 0;
  background-color: $light_blue;
  display: flex;
  flex-direction: row;
  justify-content: center;

  form {
    font-family: Verdana;
    padding: 20px;

    button {
      font-size: 20px;
      background-color: #fefefe;
      padding: 10px;
      height: 50px;
      border: 2px solid white;
      @include border-radius(10px);
      color: $blue;
      font-size: 20px;
      padding-right: 15px;

      img {
        width: 30px;
        height: 30px;
        padding-right: 15px;
        vertical-align: middle;
      }
    }

    button:hover {
      background-color: white;
    }

    button:hover:disabled {
      background-color: #fefefe;
    }

    button:disabled {
      opacity: 0.5;
    }

    textarea {
      height: 150px;
    }

    input[type=text], textarea {
      margin-bottom: 20px;
      border: 2px solid white;
      @include border-radius(10px);
      padding: 10px;
      color: $blue;
      width: 400px;
      font-size: 20px;
    }
  }
}